---

version: '3.8'
services:
  db:
    build: ./mysql
    environment:
      TZ: "Asia/Tokyo"
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: scoremanager
      MYSQL_USER: smuser
      MYSQL_PASSWORD: smpass
    volumes:
    - db-data:/var/lib/mysql
  php:
    build: ./php
    depends_on:
    - db
    ports:
    - 80:8000
    volumes:
    - ./work:/work
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin_sm
    restart: always
    depends_on:
      - db
    ports:
      - 8080:80
volumes:
  db-data: